/* :root{

    --fs-16:16px;
    --fs-64:64px;
    --fs-12:12px;
    --fs-20:20px;
    --fs-56:56px;
    --fs-24:24px;
    --fs-18:18px;

    --fw-400:400;
    --fw-700:700;
    --fw-600:600;

    --black:#000000;
    --white:#ffffff;
    --light-black:#141414;
    --light-red:#ff0000;
    --dark-blue:#1b2228;
  


@media (max-width:992px) {
    :root{
    --fs-16:16px;
    --fs-64:54px;
    --fs-12:12px;
    --fs-20:20px;
    --fs-56:50px;
    --fs-24:202px;
    --fs-18:18px;
    }
}
  
}
@media (max-width:768px) {
    :root{
    --fs-16:16px;
    --fs-64:44px;
    --fs-12:12px;
    --fs-20:20px;
    --fs-56:40px;
    --fs-24:20px;
    --fs-18:18px;
    }
}
  @media (max-width:576px) {
    :root{
    --fs-16:16px;
    --fs-64:34px;
    --fs-12:12px;
    --fs-20:20px;
    --fs-56:32px;
    --fs-24:20px;
    --fs-18:18px;
    }
}

.bg-white {
  background-color: var(--white);
} */


:root {
  /*===========Font-Size===============*/
  --fs-sm: 12px;
  --fs-md: 14px;
  --fs-lg: 16px;
  --fs-xl: 18px;
  --fs-2xl: 20px;
  --fs-3xl: 24px;
  --fs-4xl: 56px;
  --fs-5xl: 64px;

  /*==========Font-color=============*/
  --color-red: #ff0000;
  --color-white: #ffff;
  --color-black: #000000;
  --color-light-pink: #ffebeb;

  --color-light-red: #f7d4d4;
  --color-gredient: linear-gradient(
    90deg,
    rgba(22, 22, 22, 0) 0%,
    #696969 51.56%,
    rgba(22, 22, 22, 0) 100%
  );
}

/*==========Font-size=======*/
.fs-12 {
  font-size: var(--fs-sm);
  line-height: 160%;
}
.fs-14 {
  font-size: var(--fs-md);
  line-height: 160%;
}
.fs-16 {
  font-size: var(--fs-lg);
  line-height: 160%;
}
.fs-18 {
  font-size: var(--fs-xl);
  line-height: 155%;
}
.fs-20 {
  font-size: var(--fs-2xl);
  line-height: 160%;
}
.fs-24 {
  font-size: var(--fs-3xl);
}
.fs-56 {
  font-size: var(--fs-4xl);
  line-height: 125%;
}
.fs-64 {
  font-size: var(--fs-5xl);
  line-height: 126%;
}

/*=========color-red==========*/
.color-red {
  color: var(--color-red);
}
.color-black {
  color: var(--color-black);
}
.color-white {
  color: var(--color-white);
}

.bg-red {
  background-color: var(--color-red);
}
.bg-light-pink {
  background: var(--color-light-pink);
}
.bg-white {
  background-color: var(--color-white);
}
.bg-light-pink {
  background: var(--color-light-pink);
}
.bg-light-red {
  background: var(--color-light-red);
}
.bg-gredient {
  background: var(--color-gredient);
}
@media (max-width: 992px) {
  :root {
    --fs-sm: 11px;
    --fs-md: 13px;
    --fs-lg: 15px;
    --fs-xl: 17px;
    --fs-2xl: 18px;
    --fs-3xl: 22px;
    --fs-4xl: 50px;
    --fs-5xl: 60px;
  }
}
@media (max-width: 769px) {
  :root {
    --fs-sm: 10px;
    --fs-md: 12px;
    --fs-lg: 14px;
    --fs-xl: 15px;
    --fs-2xl: 17px;
    --fs-3xl: 20px;
    --fs-4xl: 45px;
    --fs-5xl: 56px;
  }
}
@media (max-width: 512px) {
  :root {
    --fs-sm: 9px;
    --fs-md: 10px;
    --fs-lg: 12px;
    --fs-xl: 14px;
    --fs-2xl: 16px;
    --fs-3xl: 18px;
    --fs-4xl: 35px;
    --fs-5xl: 50px;
  }
}