@import url(/assets/css/root.css);
*{
    text-decoration: none !important;
    list-style-type: none !important;
}
.fs-64{
  font-size: var(--fs-64);
}
.fs-12 {
  font-size: var(--fs-12px);
}
.fs-20 {
  font-size: var(--fs-20px);
}
.fs-56 {
  font-size: var(--fs-56px);
}
.fs-24 {
  font-size: var(--fs-24px);
}
.fs-18 {
  font-size: var(--fs-18px);
}

.fw-400 {
  font-weight: var(--fw-400);
}
.fw-700 {
  font-weight: var(--fw-700);
}
.fw-600 {
  font-weight: var(--fw-600);
}

.font-black {
  color: var(--black);
}
.font-white {
  color: var(--white);
}
.font-light-black {
  color: var(--light-black);
}
.light-red {
  color: var(--light-red);
}
.dark-blue {
  color: var(--dark-blue);
}

.nav-buttn{
width:  186px;
height: 52px;
top: 16px;
left: 938px;
gap: 10px;
border-radius: 56px;
background-color: var(--light-red);
border:none;
transition: all 300ms linear;
}
.bg-herosection-img{
    background-image: url(/assets/images/png/hero-section-bg-img.png);
    background-repeat: repeat;
    background-size: cover;
}
.nav-box{
width: 1140px;
height: 84px;
padding: 16px;
border-radius: 24px;
background: var(--white);

}
.rotated-1 {
  transform-origin: left;
  transform: rotate(35deg);
}
.rotated-2 {
  transform-origin: left;
  transform: rotate(-35deg);
}
.hero-section-heading{
max-width: 830px;
}
.hero-sectoin-paragraph{
max-width: 742px;
}
.hero-section-button{
  width:173px;
height: 63px;
padding: 20px 32px 20px 32px;
gap: 10px;
border-radius: 56px;
opacity: 0px;
border: none;
background: var(--light-red);
transition: all 300ms linear;
}
.google{
  width: 40px;
height: 40px;
}
.google-box{
  max-width: 229.17px;
height: 80px;
background: var(--white);
border-radius: 16px;
border: 0.83px;


}
.hero-section-button:hover{
  color: var(--light-red);
  background: var(--white);
  border: 1px solid var(--light-red);
}
.nav-buttn:hover{
  color: var(--light-red);
  background: var(--light-black);
  border: 1px solid var(--light-red);
}
/* --------------------------Responsive--------------- */
@media (max-width: 992px) {
  .nav-menubar {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: all 300ms linear;
    background: var(--white);
    height: 100%;
  }
  .show-nav {
    right: 0 !important;
  }
  .line1 {
    width: 35px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 5px;
    transition: all 300ms linear;
    background-color: black;
  }
}
/* ---------responsive ----------*/
@media (max-width: 992px) {
  .nav-menubar {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    position: fixed;
    justify-content: center;
    top: 0;
    bottom: 0;
    right: -100%;
    transition: all 300ms linear;
    background: var(--light-red);
    height: 100vh;
  }
  .show-nav {
    right: 0 !important;
  }
  .line1 {
    width: 35px;
    display: flex;
    margin-bottom: 5px;
    border-radius: 5px;
    height: 5px;
    transition: all 300ms linear;
    background-color: black;
  }
  .nav-box{
    max-width: 992px !important;
  }
}